
@font-face {
    font-family: QuickSand;
    src: url(font/Quicksand-VariableFont_wght.ttf);
}
:root{
    --primary-color: rgba(24, 19, 39, 0.788);
    --transparent-primary: rgba(24, 19, 39, 0.575);
    --hoverred-text: rgb(219, 0, 91);
    --primary-bd_off: rgb(24, 19, 39);
}

*{
    margin: 0;
    font-family: QuickSand;
    color: white;
    background-color: transparent;
    scroll-behavior: smooth;
}
.top-nav_mobile{
    display: none;
}
.top-nav{
    width: 99%;
    height: 60px;
    background-color: var(--primary-color);
    position: fixed;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(4px);
    margin: 5px;
    border-radius: 8px;
    z-index: 100000;
}
header{
    display: block;
}

.home-icon{
    float: left;
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.home-icon img{
    width: 2.5em;
    height: 2.5em;
    border-radius: 8px;
    margin-right: 10px;
}
nav{
    float: right;
    margin-right: 10px;
    height: 3.3em;
}
.nav-container li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    height: 80px;
}
.main-list a{
    text-decoration: none;
}
.main-list a:hover{
    text-decoration: underline;
}
.main-list{
    cursor: pointer;
    max-height: 2em;
}
.dropdown-container{
    cursor: pointer;
    max-height:3em;
    position: relative;
}
.dropdown-container img {
    width: 20px;
    height: 13px;
}
.dropdown-menu{
    display: none;
}
.dropdown-menu:hover{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1.5em;
    background-color: var(--primary-bd_off);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}
.dropdown-container:hover{
    text-decoration: underline;
}
.dropdown-container:hover .dropdown-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1.5em;
    width: 6.3em;
    background-color: var(--primary-bd_off);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}
.dropdown-content{
    text-decoration: none;
    text-align: center;
    margin: 0.2em;
    padding: 0.4em;
    border-radius: 8px;
    transition: .7s;
}
.dropdown-content:hover{
    background-color: white;
    color: var(--primary-bd_off);
}

.main-container{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    display: flex;
    overflow: hidden;
}
button{
    background-color: transparent;
    padding: 8px;
    margin-top: 15px;
    border-color: white;
    border-radius: 8px;
    align-items: baseline;
    justify-content: baseline;
}

button:hover{
    background-color: white;
    color: black;
    border-color: transparent;
    cursor: pointer;
}

h1{
    font-size: 50px;
    margin: 25px 0;
}
h2{
    font-weight: 100;
    color: rgba(240, 248, 255, 0.644);
    margin: 25px 0;
}
h3{
    margin: 25px;
}
p{
    margin: 20px 0;
}
.slideshow img{
    margin: auto 10px;
    border-radius: 8px;
    width: 85%;
    max-width: 1500px;
    max-height: 700px;
}
blockquote {
    border-left: solid 4px rgba(255, 255, 255, 0.3);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0.5em 0.5em 2em;
    background-color: rgba(128, 128, 128, 0.295);
    width:fit-content;
}
.util-links{
    display: block;
    border: 1px solid white;
    border-radius: 8px;
    padding: 8px;
    width: fit-content;
    margin: 8px 0;
    transition: 0.5s;
}
.util-links img{
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
}
.util-links:hover{
    background-color: white;
    color: black;
}
footer{
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1500px;
    height: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    background-color: var(--transparent-primary);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
}
footer *{
    width: fit-content;
    margin: 0;
    color: gray;
}
footer div a:hover{
    color: white;
}
.im1{
    animation: imgeffet 10s normal infinite;
} 
.im2{
    animation: imgeffet 10s normal infinite;
    animation-delay: 10s;
} 
.im3{
    animation: imgeffet 10s normal infinite;
    animation-delay: 20s;
} 


@keyframes imgeffet {
    0%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.slideshow {
    overflow: hidden;
  }
  
  @keyframes carousel {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .slideshow {
    position: relative;
    width: 70vw;
    margin: auto;
    height: calc(70vw/2);
    margin-top: 100px;
    border-radius: 8px;
  }
  .slideshow img{
    width: 70vw;
    height: auto;
  }
  
  .slideshow > img {
    position: absolute;
    top: 0;
    opacity: 0;
    animation: carousel 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }