.fixed-background{
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    position: sticky;
    background-size: cover;
    height: 100vh;
    z-index: -9999;
    top: 0;

}
.main-container{
    background-color: transparent;
    margin-top: -100vh;
    display: flex;
    flex-direction: column;
}
.profile-info {
    position: absolute;
    height: fit-content;
    width: 20em;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 8px;
    width: -moz-fit-content;
    width: fit-content;
}
.profile-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#next{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.next-icon{
    z-index: 1;
    animation: bounce normal 2s infinite ;
}
.description{
    padding-left: 5px;
    height: fit-content;
    margin-left: 20px;
    font-size: x-large;
}
.description_back{
    display: flex;
    border-radius: 0 8px 8px 0;
    background-color: var(--transparent-primary);
    backdrop-filter: blur(8px);
    height: 16em;
    width: 24em; 
    align-items: center;
}
.profile-pic{
    width: 16em;
    height: 16em;
    border-radius: 8px 0 0 8px;
}
#next{
    position: absolute;
    bottom: 5vh;
}
#bio-landing{
    margin-top: 20vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bio-img{
    height: 50vh;
    width: 95%;
    border-radius: 8px;
    background-image: url(Images/pic05.jpg);
    background-size: cover;
}

.bio-text{
    margin:40px 0;
    display: flex;
    flex-direction: row;
    padding: 25px 0;
    justify-content: space-around;
    width: 100%;
    background-color: var(--transparent-primary);
    backdrop-filter: blur(8px);
}
.bio-text *{
    width: 30vw;
}
.game-descripts{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.game-splash{
    width: 45vw;
    height:25vw;
    max-height: 600px;
    min-height: 200px;
    max-width: 1000px;
    border-radius: 8px;
}
.game-info{
    width: 45vw;
    padding: 20px;
    background-color: var(--transparent-primary);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}
.n1-game{
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}
.n2-game{
    padding: 5px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}
.n3-game{
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}
.social-media{
    display: flex;
    justify-content: space-around;
}

.social-links{
    width: 45px;
    height: 45px;
    transition: 0.5s;
}

/*responsive-part*/
@media only screen and (max-width: 800px) {
    .profile-info{
        flex-direction: column;
    }
    .profile-pic{
        border-radius: 8px 8px 0 0;
    }
    .description_back{
        width: 16em;
        border-radius: 0 0 8px 8px;
        height: fit-content;
    }
    .description{
        margin: 0;
    }
    .description h1{
        margin: 0;
        font-size: xx-large;
        width: 100%;
        text-align: center;
    }
    .description p{
        text-align: center;
        font-size: large;
    }
    .social-media{
        margin-bottom: 15px;
    }
    .next-icon{
        height: 15vw;
        width: 15vw;
    }
    .bio-text{
        flex-direction: column;
        margin-top: 2em;
        align-items: center;
    }
    .bio-text *{
        width: 90vw;
    }
    .bio-text div *{
        width: 100%;
        text-align: center;
    }
    .games-descripts *{
        flex-direction: column;
    }
    .games-descripts div img{
        height: 25vh;
        width: 90vw;
        border-radius: 8px 8px 0 0;
    }
    .game-info{
        width: 80%;
        border-radius: 0 0 8px 8px;
    }
    .game-info button{
        float: right;
    }
}


/*miscelaneous fixes for very large screens*/
@media only screen and (min-width: 1500px) {
    .bio-text{
        border-radius: 8px;
        padding: 25px;
        gap: 50px;
    }
    .bio-text div{
        max-width: 385px;
    }
}