.fixed-background {
    background-image: url(Images/bg-phigros-page.jpg);
    background-repeat: no-repeat;
    position: sticky;
    background-size: cover;
    height: 100vh;
    z-index: -9999;
    top: 0;
}

.main-container {
    margin-top: -100vh;
    justify-content: center;
    flex-direction: column;
}

.slideshow {
    display: flex;
    top: 80px;
    margin:100px 0 0 0;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 1500px;
    height: 80%;
    max-height: 700px;
    height: fit-content;
    border-radius: 8px;
}

.slideshow img{
    position: absolute;
    margin: 10px auto;
    border-radius: 8px;
    width: 85%;
    max-width: 1500px;
    max-height: 700px;
}

.description-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.separator {
    margin-top: 25px;
    width: 30%;
    height: 0px;
    border: 1px solid rgba(255, 217, 0, 0.699);
}

.description {
    position: sticky;
    top: 0;
    text-align: left;
    padding: 25px;
    width: 65%;
}

.description table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 50px 0;
}

table td {
    border-bottom: 1px solid rgba(255, 217, 0, 0.5);
    padding: 20px;
}

.desc-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.desc-parent div {
    margin: 0;
}

.side-desc {
    position: sticky;
    top: 150px;
    width: 25%;
    text-align: left;
    padding: 25px;
}

.side-desc a {
    text-decoration: none;
    margin-left: 10px;
}

.side-desc h3 {
    margin: 25px 0;
}

.colored-table {
    background-color: var(--transparent-primary);
}

@keyframes slide {
    30% {
        margin-left: -1200px;
    }
    70% {
        margin-left: -2400px;
    }
    100% {
        margin-left: 0;
    }
}

/*ressponssive part*/
@media only screen and (max-width: 1000px) {
    .desc-parent{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: fit-content;
    }
    .description{
        position: static;
        width: 85%;
    }
    .side-desc{
        position: inherit;
        width: 85%;
    }
}