.fixed-background{
    background-image: url(Images/pic03.jpg);
    background-repeat: no-repeat;
    position: sticky;
    background-size: cover;
    height: 100vh;
    z-index: -9999;
    top: 0;
}