@media only screen and (max-width: 500px){
    .top-nav{
        display: none;
        transition: 0.5s;
        z-index: 9999 !important;
    }
    .top-nav_mobile{
        display: block;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: var(--primary-color);
        position: fixed;
        backdrop-filter: blur(4px);
        z-index: 1000000;
    }
    #mobile-nav{
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    #m-menus{
        display: flex;
        position: absolute;
        padding: 0;
        width: 100vw;
        height: 100vh;
        right:-100vw;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        list-style: none;
        background-color: var(--primary-color);
        backdrop-filter: blur(8px);
        transition: .5s;
    }
    #m-menus *{
        width: 100%;
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        margin: 20px 0;
        padding: 0;
    }
    
    #mobile-nav h1{
        height: 100%;
        width: fit-content;
        margin: 0;
        margin-top: 8px;
        margin-left: 10px;
        font-size: xx-large;
    }
    #menu-toogle{
        display: none;
    }
    label{
        cursor: pointer;
        z-index: 999999;
    }
    label img{
        margin-top: 15px;
        margin-right: 15px;
        width: 2em;
        height: 2em;
    }
    .home-icon{
        float: none;
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
        margin: 0 auto;
        width: 50vw;
    }
    .home-icon p{
        width: 100%;
    }
    .home-icon img{
        display: none;
    }
    nav{
        float: none;
    }
    .nav-container{
        margin-left: -40px;
        margin-top: 30vh;
    }
    #my-games ul{
        width: fit-content;
        padding: 5px 10px 5px 10px;
        margin-top: -25px;
        margin: auto;
        border:1px solid white;
        border-radius: 8px;
        border-top: none;
    }
    #my-games{
        cursor: default;
    }
    .nav-container li{
        display: block;
        text-decoration: none;
        font-size: large;
        text-align: center;
        text-transform: uppercase;
    }
    #menu-toogle:checked ~ #m-menus{
        right: 0;
        opacity: 1;
    }
}